.fixed-height {
    min-height: 600px;
}

::ng-deep .ui-growl {
    top: 75px;
}

.sub-header {
    font-size: 1.2em;
}

small, .small {
    font-size: 60%;
    font-weight: 200;
}

.attendee-list {
    height: 350px;
    overflow-y: scroll;
}

.select-list {

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    .select-list-header {
        background-color: #007bff;
        border-radius: 0.25rem 0.25rem 0 0;
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        color: #fafafa;
        font-size: 1.5em;
        font-weight: 200;
        font-family: 'Oswald', sans-serif;
    }

    .select-list-body {

        .selected {
            background-color: rgb(40, 167, 69);
            color: #f0f0f0;
            
            &:hover {
                background-color: rgba(40, 167, 69, 0.8);
            }
        }

        .assigned:not(.selected) {
            background-color: rgba(0, 0, 0, 0.1);;

            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        li {
            font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
            padding: 5px 20px;
            text-decoration: none;
            color: #000;
            transition: font-size 0.3s ease, background-color 0.3s ease;
            display: block;
            cursor: pointer;

            label {
                margin-bottom: 0;
            }
            
            .input-group {
                width: 140px;
            }

            input {
                line-height: 1em;
            }

            &:not(.assigned):not(.selected):hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }

        li:last-child {
            border-radius: 0 0 0.25rem 0.25rem;
        }
    }
}
