<camp-loading [busy]="busy"></camp-loading>

<div class="container fixed-height" *ngIf="!busy">
  <div class="row">
    <div class="col-12">
        <h1>Register Attendees</h1>
    </div>
    <div class="col-12">
      <a [routerLink]="['assign']" class="btn btn-primary">Assign</a>
      <a [routerLink]="['profile']" class="btn btn-primary">Profile</a>
      <button type="button" class="btn btn-secondary" (click)="auth.logout()">Logout</button>
    </div>
    
    <div class="col-xs-12 col-md-3 select-list">
      <h2>Wards</h2>
      <div>
        <ul *ngIf="assignments.subgroups?.length>0">
          <li *ngFor="let subgroup of assignments.subgroups" [class.selected]="selectedSubgroup?.id === subgroup.id" class="selectable-list-item" (click)="subgroupSelected(subgroup)">{{subgroup.name}}</li>
        </ul>
        <div *ngIf="assignments.subgroups?.length===0">
          No Wards Found
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3 select-list">
      <h2>Attendees</h2>
      <div *ngIf="loadingAttendees">
        Loading...
      </div>
      <div *ngIf="!loadingAttendees">
        <ul>
          <li *ngFor="let attendee of attendees" [class.selected]="selectedAttendee?.id === attendee.id" class="selectable-list-item" (click)="attendeeSelected(attendee)">
            <div class="row">
              <div class="col-md-auto">
                {{attendee.firstName}}
              </div>
            </div>
          </li>
          <li>Add Attendee <button class="btn btn-sm btn-primary">Add</button></li>
        </ul>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-6 select-list">
      <div *ngIf="loadingAttendee">
        Loading...
      </div>
      <div *ngIf="!loadingAttendee">
        <div *ngIf="!selectedAttendee">
          <h2>No Attendees</h2>
        </div>
        <div *ngIf="selectedAttendee">
          <camp-attendee-form [groupId]="selectedSubgroup.groupId" [subgroupId]="selectedSubgroup.id" [attendee]="selectedAttendee"></camp-attendee-form>
          <!-- <h2>{{selectedAttendee.firstName}} {{selectedAttendee.lastName}}</h2>
          <pre>{{selectedAttendee | json}}</pre> -->
        </div>
      </div>
    </div>
    
  </div> 
</div>
