<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light encampment-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']"><img src="./assets/logo_sm.png" alt="Logo" class="nav-logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenuToggler" aria-controls="navbarMenuToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMenuToggler" #menu>
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['/']" campCloseMenu [menu]="menu">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['activities']" campCloseMenu [menu]="menu">Activities</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['schedule']" campCloseMenu [menu]="menu">Schedule</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['maps']" campCloseMenu [menu]="menu">Maps</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['faq']" campCloseMenu [menu]="menu">FAQ</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['registration']" campCloseMenu [menu]="menu">Registration</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['contact']" campCloseMenu [menu]="menu">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>