<camp-page-header title="Contact"></camp-page-header>

<div class="container">
    <div class="row">
        <div class="mt-3 col-lg-10 mx-auto">
            <div class="col-12">
                <h3>Emergency Contacts During Encampment</h3>
                <p class="mb-0">Glenn Squires, General Chairman - <a href="tel:5095906483">509-590-6483</a></p>
                <p class="mb-4">Jim Stroh, Executive Secretary - <a href="tel:5099930130">509-993-0130</a></p>
                <hr>
            </div>
        </div>
    </div>
</div>

<camp-contact-form></camp-contact-form>
