@import '~styles/variables';

.schedule {
    .header {
        text-transform: uppercase;
    }
}
.outertabs {

    .nav-tabs {
        border: none;
    }

    .nav-item {
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;

        .nav-link {
            background-color: $gray-100;
            border: none;

            &:hover {
                color: $gray-700;
            }
        }        
    
        a {
            color:$gray-400;
        }    
    
        .active {
            color:#fff;
            background-color: #0078d7;

            &:hover {
                color:#fff;
                background-color:#0078d7;
            }
        }
    }

    .tab-content {
        border: 2px solid #0078d7;
        border-radius: 4px;
        padding: 20px;

        table {
            display: block;
            white-space: nowrap;

            overflow-x: scroll; /* has to be scroll, not auto */
            -webkit-overflow-scrolling: touch;
        }
    }

    .innertabs {
        .nav-item {
            text-align: center;
            font-size: 1.4em;
            font-weight: bold;
            text-transform: uppercase;
        
            .nav-link {
                background-color: $gray-100;

                &:hover {
                    color: $gray-700;
                }
            }

            a {
                color:$gray-400;
            }    
    
            .active {
                color:#fff;
                background-color: #0078d7;
    
                &:hover {
                    color:#fff;
                    background-color:#0078d7;
                }
            }
        }

        .tab-content {
            border: none;
        }
    }
}

@media (min-width: 768px) {
    .outertabs {
        .tab-content {
            table {
                overflow-x: auto;
            }
        }
    }
  }