$site-background-color: $white;

$encampment-blue: #0078d7;

$page-header-background-color: $encampment-blue;
$page-header-font-color: $white;

$color1: #88ccf1;
$color2: #064e86;
$color3: #274060;
$color4: #173753;
$color5: #0d1321;