@import "../../node_modules/bootstrap/scss/bootstrap";

@import '_variables';

body {
    font-family: 'Roboto', sans-serif;
    background-color: $site-background-color;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}
