<camp-page-header title="Additional Information"></camp-page-header>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">

      <a name="triathlon"></a>
      <div class="info-section">
        <h2>Triathlon Results</h2>
        <div><a href="//results.rmraces.live/Across-The-Line-Timing/events/2018/diamond-lake-boy-scout-triathlon/results" target="_blank">Called to Swim, Bike, and Run Triathlon Results</a></div>
      </div>

      <a name="spiritual"></a>
      <div class="info-section">
        <h2>Spiritual Program and Award Information</h2>
        <div><a href="assets/Spiritual_Program.pdf" target="_blank">Download Spiritual Program Information</a></div>
      </div>

      <a name="check-in"></a>
      <div class="info-section">
        <h2>Camp Check-In</h2>
        <div>When you arive for check-in please have the following documents. <a href="/assets/Registration_Checklist.pdf" target="_blank"><small>(download checklist)</small></a></div>
        <ul>            
          <li>Roster of all attendees, which can be downloaded from the registration site for each ward after login. <small>(green button)</small></li>
          <li><a href="/assets/forms/BSA_Health_and_Medical.pdf" target="_blank">BSA Health and Medical Form</a> <strong>(two copies)</strong></li>
          <li><a href="/assets/forms/BSA_SwimClassificationForm.pdf" target="_blank">BSA Swim Classification Form</a> and buddy tags for all swimmers.</li>
          <li><a href="/assets/forms/LDS_parental-permission-medical-release.pdf" target="_blank">LDS Parental Permission and Medical Release</a></li>
          <li><a href="/assets/forms/MediaRelease.pdf" target="_blank">Media Release</a></li>
        </ul>
      </div>

      <a name="food"></a>
      <div class="info-section">
        <h2>Food</h2>
        <div><a href="assets/EncampmentMenu.pdf" target="_blank">Download Finalized Daily Menu</a></div>
        <div><a href="assets/CookingSupplies.pdf" target="_blank">Download Cooking Supply List</a></div>
      </div>

      <a name="meritbadge"></a>
      <div class="info-section">
        <h2>Merit Badge Information and Prerequisites</h2>
        <p>Schedules for each of the merit badges will differ depending difficulty and the approaches of each of the counselors. During the first activity session of the encampment (Monday from 2pm-5pm) Young Men should visit with the counselors they want to take merit badges from, and determine the best way to fit them into their week.</p>
        <h5>Prerequisites</h5>
        <ul>
          <li><strong>Aviation</strong>: requirement #5</li>
          <li><strong>Communication</strong>: requirements #5 and #9</li>
          <li><strong>Fishing</strong>: please catch a fish before hand and bring a picture of it. Also, cook a fish that you caught or cook one purchased from a store.</li>
          <li><strong>Pioneering</strong>: requirements #5 and 10 can be done ahead of time. </li>
          <li><strong>Photography</strong>: bring your own camera.</li>
          <li><strong>Pulp and Paper</strong>: requirement #6.  A mandatory field trip on Wednesday morning. No shorts or sandals will be allowed.</li>
          <li><strong>Widerness Survival</strong>: overnight shelter experience will have to be done before or after encampment.</li>
          <li><strong>Wood Carving</strong>: Bring a valid Totin chip card.</li>
        </ul>
      </div>

      <a name="equipment"></a>
      <div class="info-section">
        <h2>Personal Equipment Checklist</h2>
        <div><a href="assets/EquipmentList.pdf" target="_blank">Download Equipment List</a></div>
      </div>

      <a name="security"></a>
      <div class="info-section">
        <h2>Security</h2>
        <div>Each Stake is required to help with the security of the camp.</div>
        <div><a href="assets/SecurityAssignments.pdf" target="_blank">Download Security Assignment Schedule</a></div>
        <div><a href="assets/SecurityGuide.pdf" target="_blank">Download Security Guidelines</a></div>
      </div>

      <a name="service"></a>
      <div class="info-section">
        <h2>Service</h2>
        <div class="col-md-6 px-0">
          <img id="campsite-image" src="assets/PriestServiceSchedule.png" alt="Priest Service Schedule">
        </div>
      </div>

    </div>
  </div>
</div>
