<camp-page-header title="Additional Information"></camp-page-header>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">

      <div class="info-section">
        <h2>Security</h2>
        <div>Each Stake is required to help with the security of the camp.</div>
        <div><a href="assets/SecurityAssignments.pdf" target="_blank">Download Security Assignment Schedule</a></div>
        <div><a href="assets/SecurityGuide.pdf" target="_blank">Download Security Guidelines</a></div>
      </div>

      <div class="info-section">
        <h2>Food</h2>
        <div><a href="assets/EncampmentMenu.pdf" target="_blank">Download Finalized Daily Menu</a></div>
        <div><a href="assets/CookingSupplies.pdf" target="_blank">Download Cooking Supply List</a></div>
      </div>

    </div>
  </div>
</div>
