<camp-page-header title="Additional Information"></camp-page-header>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">

      <a name="spiritual"></a>
      <div class="info-section">
        <h2>Spiritual Program and Award Information</h2>
        <div><a href="assets/Spiritual_Program.pdf" target="_blank">Download Spiritual Program Information</a></div>
      </div>

      <a name="check-in"></a>
      <div class="info-section">
        <h2>Camp Check-In</h2>
        <div>When you arive for check-in please have the following documents.</div>
        <ul>            
          <li>Roster of all attendees, which can be downloaded from the registration site for each ward after login. <small>(green button)</small></li>
          <li><a href="/assets/forms/BSA_Health_and_Medical.pdf" target="_blank">BSA Health and Medical Form</a> <strong>(two copies)</strong></li>
          <li><a href="/assets/forms/BSA_SwimClassificationForm.pdf" target="_blank">BSA Swim Classification Form</a> and swimming tokens for all swimmers.</li>
          <li><a href="/assets/forms/LDS_parental-permission-medical-release.pdf" target="_blank">LDS Parental Permission and Medical Release</a></li>
          <li><a href="/assets/forms/MediaRelease.pdf" target="_blank">Media Release</a></li>
        </ul>
      </div>

      <a name="security"></a>
      <div class="info-section">
        <h2>Security</h2>
        <div>Each Stake is required to help with the security of the camp.</div>
        <div><a href="assets/SecurityAssignments.pdf" target="_blank">Download Security Assignment Schedule</a></div>
        <div><a href="assets/SecurityGuide.pdf" target="_blank">Download Security Guidelines</a></div>
      </div>

      <a name="food"></a>
      <div class="info-section">
        <h2>Food</h2>
        <div><a href="assets/EncampmentMenu.pdf" target="_blank">Download Finalized Daily Menu</a></div>
        <div><a href="assets/CookingSupplies.pdf" target="_blank">Download Cooking Supply List</a></div>
      </div>

      <a name="service"></a>
      <div class="info-section">
        <h2>Service</h2>
        <div class="col-md-6 px-0">
          <img id="campsite-image" src="assets/PriestServiceSchedule.png" alt="Priest Service Schedule">
        </div>
      </div>

    </div>
  </div>
</div>
