<div class="container-fluid countdown-timer" [ngClass]="hideComponent">
    <div class="row">
      <div class="col-md-4 col-xs-1"></div>
      <div class="col-md-4 col-xs-10 countdown-timer-blocks">
        <div class="row">
          <div class="col-3">
            <span>{{days}}</span>
            <div>days</div>
          </div>
          <div class="col-3">
            <span>{{hours}}</span>
            <div>hours</div>
          </div>
          <div class="col-3">
            <span>{{minutes}}</span>
            <div>min</div>
          </div>
          <div class="col-3">
            <span>{{seconds}}</span>
            <div>sec</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  