img.post-thumb {
    float: left;
    margin: 10px 30px 10px 0;
    border-radius: 5px;
}

.line-group {
    p {
        margin: 0;
    }
}

.arch-background {
    position: relative;
    width: 100%;
    height: 180px;
    color: #fff;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
    ), url("/assets/banner.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

.banner {

    .banner-info {        
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        .banner-logo {
            width: 60%;
        }

        .banner-title, .banner-title-small, .banner-sub-title  {
            display: none;
        }
    }
}

.countdown-timer {
    background: linear-gradient(to right,#2c93c4 10%,#1f6dce 90%);
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;

    &>div{
        display: flex;
        margin: 0 auto;

        &>div {
            float: left;
            width: 25%;
            height: 78px;
            padding: 16px 0;
        }
    }
}

@media (min-width: 1000px) {
    .arch-background {
        height: 420px;
    }

    .banner {
        
        .banner-info {
            top: 5%;
    
            .banner-logo {
                width: 60%;
            }
    
            .banner-title {
                display: block;
                font-family: Poppins, sans-serif;
                text-transform: uppercase;
                padding: 8px;
                line-height: 1.2;
                font-size: 2.7em;
                font-weight: 500;
            }

            .banner-title-small {
                display: block;
                text-transform: uppercase;
            }
            
            .banner-sub-title {
                display: block;
                text-transform: uppercase;
                font-size: 1.5em;
            }
        }
    }
}