.registration-portal-card {
    border-color: #007bff;

    h4 {
        color: #007bff;
    }
}

.notice_box {    
    border: #28a745 solid 2px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;

    h3 {
        color: #28a745;
    }
}