<camp-page-header title="Registration" subTitle="Registration will open in February"></camp-page-header>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <p>Registration for the encampment is handled by ward and stake leaders. <strong>Young men do not register themselves for the encampment using this website. If young men or their parents have registration questions, they should contact their Ward or Stake Young Men Leaders.</strong></p>
      <p>Those attending camp for <strong>less than 72 hours</strong> only need to complete sections A & B of the BSA Health and Medical Form.</p>
      <p>Those individuals staying <strong>longer than 72 hours</strong> need to complete sections A, B, & C of the BSA Health and Medical Form.</p>

      <h3>Required Forms</h3>
      <ul>
        <li><a href="/assets/forms/BSA_Health_and_Medical.pdf">BSA Health and Medical Form</a></li>
        <li><a href="/assets/forms/BSA_SwimClassificationForm.pdf">BSA Swim Classification Form</a></li>
        <li><a href="/assets/forms/LDS_parental-permission-medical-release.pdf">LDS Parental Permission and Medical Release</a></li>
      </ul>

      <h2 class="text-uppercase my-5">Registration will open in February</h2>

      <div class="card registration-portal-card">
        <div class="card-body">
          <h4 class="card-title">Registration Portal</h4>
          <p class="card-text">The Registration Portal is where you go to register Called To Serve - Encampment 2018 attendees.</p>
          <a class="btn btn-primary" [routerLink]="['/register']">Login</a>
          <a class="btn btn-outline-primary" [routerLink]="['/register/signup']">Sign Up</a>
        </div>
      </div>      
    </div>
  </div>
</div>