<camp-page-header title="Registration"></camp-page-header>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <p>Registration for the encampment is handled by ward and stake leaders. <strong>Young men do not register themselves for the encampment using this website. If young men or their parents have registration questions, they should contact their Ward or Stake Young Men Leaders.</strong></p>
      <p>Those attending camp for <strong>less than 72 hours</strong> only need to complete sections A & B of the <a href="/assets/forms/BSA_Health_and_Medical.pdf" target="_blank">BSA Health and Medical Form</a>.</p>
      <p>Those individuals staying <strong>longer than 72 hours</strong> need to complete sections A, B, & C of the <a href="/assets/forms/BSA_Health_and_Medical.pdf" target="_blank">BSA Health and Medical Form</a>.</p>
      <p>Each attendee must have a printed and signed <a href="/assets/forms/MediaRelease.pdf" target="_blank">Media Release Form</a> upon arrival at the camp.</p>

      <div class="notice_box">
        <h3>Camp Check-In</h3>
        <div>When you arive for check-in please have the following documents.</div>
        <ul>            
          <li>Roster of all attendees, which can be downloaded from the registration site for each ward after login. <small>(green button)</small></li>
          <li><a href="/assets/forms/BSA_Health_and_Medical.pdf" target="_blank">BSA Health and Medical Form</a> <strong>(two copies)</strong></li>
          <li><a href="/assets/forms/BSA_SwimClassificationForm.pdf" target="_blank">BSA Swim Classification Form</a> and swimming tokens for all swimmers.</li>
          <li><a href="/assets/forms/LDS_parental-permission-medical-release.pdf" target="_blank">LDS Parental Permission and Medical Release</a></li>
          <li><a href="/assets/forms/MediaRelease.pdf" target="_blank">Media Release</a></li>
        </ul>
      </div>

      <h3>Required Forms</h3>
      <ul>
        <li><a href="/assets/forms/BSA_Health_and_Medical.pdf" target="_blank">BSA Health and Medical Form</a></li>
        <li><a href="/assets/forms/BSA_SwimClassificationForm.pdf" target="_blank">BSA Swim Classification Form</a></li>
        <li><a href="/assets/forms/LDS_parental-permission-medical-release.pdf" target="_blank">LDS Parental Permission and Medical Release</a></li>
        <li><a href="/assets/forms/MediaRelease.pdf" target="_blank">Media Release</a></li>
      </ul>
      
      <div class="card registration-portal-card">
        <div class="card-body">
          <h4 class="card-title">Registration Portal</h4>
          <p class="card-text">The Registration Portal is used by Ward leaders to register youth and adults for the encampment.</p>
          <a class="btn btn-primary" [routerLink]="['/register']">Login</a>
          <a class="btn btn-outline-primary" [routerLink]="['/register/signup']">Sign Up</a>
          <a href="//encampment-analytics-api.azurewebsites.net/api/encampment" class="btn btn-success float-right"><i class="fa fa-download"></i> Current Registration Numbers</a>
        </div>
      </div>      
    </div>
  </div>
</div>