@import '~styles/variables';

.contact, .contact-display {
    .header {
        text-transform: uppercase;
    }

    .sending-icon {
      width: 23px;
    }
}

.contact-display {
  label {
    font-weight: bold;
  }
}

form {
  label {
    margin-bottom: 0.15rem;
  }

  .form-group {
    margin-bottom: 1.2rem;

    .required {
      float: right;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: bold;
      color: #e2e2e2;
      margin-top: 5px;
    }
    
    &.form-error {
      .error-message {
        color: #e92424;
      }

      input, textarea {
        border: 1px solid #e92424;
      }      
    }
  }
}
