<camp-error-header [message]="errorMessage"></camp-error-header>

<div class="container">
  <div class="mt-3 contact col-lg-10 mx-auto" [hidden]="submitted">
    <div class="my-4 header">Complete this form to contact the Encampment Committee</div>
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6" [class.form-error]="name.invalid && (name.dirty || submitFailed)">
          <label for="inputName">Name</label><label class="required">required</label>
          <input type="text" class="form-control" id="inputName" [(ngModel)]="model.name" name="name" #name="ngModel"
            required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6" [class.form-error]="email.invalid && (email.dirty || submitFailed)">
          <label for="inputEmail">Email</label><label class="required">required</label>
          <input type="text" class="form-control" id="inputEmail" [(ngModel)]="model.email" name="email" #email="ngModel" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6" [class.form-error]="phoneNumber.invalid && (phoneNumber.dirty || submitFailed)">
          <label for="inputPhoneNumber">Phone Number</label>
          <input type="text" class="form-control" id="inputPhoneNumber" [(ngModel)]="model.phoneNumber" name="phoneNumber" #phoneNumber="ngModel">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6" [class.form-error]="stake.invalid && (stake.dirty || submitFailed)">
          <label for="inputStake">Stake</label>
          <input type="text" class="form-control" id="inputStake" [(ngModel)]="model.stake" name="stake" #stake="ngModel">
        </div>
        <div class="form-group col-md-6" [class.form-error]="ward.invalid && (ward.dirty || submitFailed)">
          <label for="inputWard">Ward</label>
          <input type="text" class="form-control" id="inputWard" [(ngModel)]="model.ward" name="ward" #ward="ngModel">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12" [class.form-error]="message.invalid && (message.dirty || submitFailed)">
          <label for="inputMessage">Message</label><label class="required">required</label>
          <textarea type="text" class="form-control" id="inputMessage" required [(ngModel)]="model.message" name="message" #message="ngModel"
            rows="3" required></textarea>
        </div>
      </div>
      <div class="my-3">
        <button type="submit" class="btn btn-success" [hidden]="submiting">Send Message</button>
        <button type="button" class="btn btn-success" [hidden]="!submiting"><img class="sending-icon" src="assets\ripple.svg"> Sending...</button>
        <button type="reset" class="btn btn-primary" [disabled]="contactForm.pristine" (click)="reset()">Reset</button>
      </div>
    </form>
  </div>
  <div class="mt-3 contact-display col-lg-10 mx-auto" [hidden]="!submitted">
    <div class="my-4 header">The following message has been sent to the committee.</div>
    <div class="row mt-3">
      <label class="col-3">Name</label>
      <div class="col-9 pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <label class="col-3">Email</label>
      <div class="col-9 pull-left">{{ model.email }}</div>
    </div>
    <div class="row" [hidden]="!model.phoneNumber">
      <label class="col-3">Phone</label>
      <div class="col-9 pull-left">{{ model.phoneNumber | jtPhone }}</div>
    </div>
    <div class="row" [hidden]="!(model.stake || model.ward)">
      <label class="col-3">Stake and Ward</label>
      <div class="col-9 pull-left">{{ model.stake }} - {{model.ward}}</div>
    </div>
    <div class="row">
      <label class="col-3">Message</label>
      <div class="col-9 pull-left">{{ model.message }}</div>
    </div>
    <div class="my-3">
      <button type="reset" class="btn btn-primary" (click)="reset()">Send Another</button>
    </div>
  </div>
</div>
