/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

.page-header {
    background: #0078d7;
    padding: 30px;
    color: #ffffff;

    h1 {
        font-weight: 200;
    }    
}