<camp-loading [busy]="busy"></camp-loading>

<div class="container" *ngIf="!busy">
  <div class="attendeeForm">
    <div class="my-4 header">Complete this form to register an attendee.</div>
    <form (ngSubmit)="onSubmit()" #attendeeForm="ngForm">

      <div class="form-row">
        <div class="form-group col-md-6" [class.form-error]="firstName.invalid && (firstName.dirty || submitFailed)">
          <label for="inputFirstName">First Name</label>
          <label [class.error-message]="firstName.hasError('required')" class="required">required</label>
          <input type="text" class="form-control form-control-lg" id="inputFirstName" [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel"
            required>
        </div>
        <div class="form-group col-md-6" [class.form-error]="lastName.invalid && (lastName.dirty || submitFailed)">
          <label for="inputLastName">Last Name</label>
          <label [class.error-message]="lastName.hasError('required')" class="required">required</label>
          <input type="text" class="form-control form-control-lg" id="inputLastName" [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel"
            required>
        </div>
      </div>
      
      <div class="form-row">
        <p-selectButton name="isAdult" [options]="attendeeTypes" [(ngModel)]="model.isAdult"></p-selectButton>
      </div>
      
      <div class="form-row">
        Triathlon <p-selectButton name="triathlon" [options]="triathlonChoices" [(ngModel)]="model.triathlon"></p-selectButton>
      </div>
      
      <div class="form-row">
        <label for="shirtSize">Shirt Size</label>
        <p-dropdown name="shirtSize" [options]="shirtSizeChoices" [(ngModel)]="model.shirtSize" placeholder="Select a size"></p-dropdown>
      </div>
      
      <div class="form-row">
        <label for="dateOfBirth">Birthdate</label>
        <p-dropdown name="inputDateOfBirthMonth" [options]="monthChoices" placeholder="Month" [(ngModel)]="dob.month" (onChange)="dateOfBirthChanged()"></p-dropdown>
        <input type="text" style="width:35px" name="inputDateOfBirthDay" id="inputDateOfBirthDay" [(ngModel)]="dob.day" maxlength="2" placeholder="Day" (blur)="dateOfBirthChanged()">
        <input type="text" style="width:60px" name="inputDateOfBirthYear" id="inputDateOfBirthYear" [(ngModel)]="dob.year" maxlength="4" placeholder="Year" (blur)="dateOfBirthChanged()">
        <input type="hidden" name="dateOfBirth" id="inputDateOfBirth" [(ngModel)]="model.dateOfBirth">
      </div>

      <div class="form-row" *ngIf="dobError.day || dobError.year">
        <span *ngIf="dobError.day">The day doesn't look right. Be sure to use a 2-digit number that is a day of the month.</span>
        <span *ngIf="dobError.year">The year doesn't look right. Be sure to use four digits.</span>
      </div>
      
      <div class="form-row">
        <p-selectButton name="attendance" [options]="days" [(ngModel)]="selectedDays" multiple="multiple"></p-selectButton>
      </div>

      <div class="form-row">
        <p-multiSelect name="accomodations" [options]="accommodationChoices" [(ngModel)]="model.accommodations" dataKey="id" optionLabel="name"></p-multiSelect>
      </div>
      
      <div class="form-row">
        <p-multiSelect name="meritBadges" [options]="meritBadgeChoices" [(ngModel)]="model.meritBadges" dataKey="id" optionLabel="name"></p-multiSelect>
      </div>

      <div class="my-3">
        <button type="submit" class="btn btn-success" [hidden]="submiting">Save</button>
        <button type="button" class="btn btn-success" [hidden]="!submiting"><img class="saving-icon" src="assets\ripple.svg"> Saving...</button>
        <button type="button" class="btn btn-primary" [disabled]="attendeeForm.pristine" (click)="reset()">Reset</button>
      </div>

      <div *ngIf="model.insertedBy">added by <span>{{model.insertedBy}}</span></div>
      <div *ngIf="model.insertedOn">added on <span>{{model.insertedOn | date:'fullDate' }}</span> at <span>{{model.insertedOn | date:'shortTime' }}</span></div>
      <div *ngIf="model.updatedBy">updated by <span>{{model.updatedBy}}</span></div>
      <div *ngIf="model.updatedOn">update on <span>{{model.updatedOn | date:'fullDate' }}</span> at <span>{{model.updatedOn | date:'shortTime' }}</span></div>
    </form>
  </div>  
</div>
