@import '~styles/variables';

.attendeeForm {
    .header {
      text-transform: uppercase;
    }

    .saving-icon {
      width: 23px;
    }
}

.contact-display {
  label {
    font-weight: bold;
  }
}

.audit-info {
  font-size: 0.8em;
  color: #a9a9a9;

  span {
    font-size: 1.1em;
    color: #007bff;
  }
}

.multiselect-pills {
  margin-bottom: 5px;

  .multiselect-pill {
    margin-right: 10px;
    border-radius: 15px;
  }
}

form {
  label {
    margin-bottom: 0.15rem;
  }

  .form-group {
    margin-bottom: 1.2rem;

    &.small-bottom-margin {
      margin-bottom: 0.2rem;
    }

    .input-error-message {
      display: block;
      color: #ff0000;
    }

    .form-solo-label {
      display: block;
    }

    .birthdate-field {
      display: inline-block;
      text-align: center;
    }

    .required {
      float: right;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: bold;
      color: #e2e2e2;
      margin-top: 5px;
    }
    
    &.form-error {
      .error-message {
        color: #e92424;
      }

      input, textarea {
        border: 1px solid #e92424;
      }
    }
  }
}

::ng-deep form {
  .form-group {
    &.form-error {
      .ui-dropdown.ui-state-default {
        border: 1px solid #e92424;
      }

      .ui-button {
        border-top: 1px solid #e92424;
        border-bottom: 1px solid #e92424;

        &:first-child {
          border-left: 1px solid #e92424;
        }
    
        &:last-child {
          border-right: 1px solid #e92424;
        }
      }
    }
  }
}

::ng-deep .ui-selectbutton.ui-buttonset {

  display: inline-block;

  .ui-button {
    height: 37px;
    padding: 0.375rem 0.5rem 0 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 100px;

    &.ui-button-text-only {
      .ui-button-text {
        padding: .25em 0;
      }
    }

    &:first-child {
      border-radius: 0.3rem 0 0 0.3rem;
    }

    &:last-child {
      border-radius: 0 0.3rem 0.3rem 0;
    }

    &.ui-state-active {
      background-color: #007bff;
    }
  }
}

::ng-deep .ui-dropdown {
  display: inline-block;
  height: 37px;

  .ui-inputtext {
    padding: 0.33em;
    padding-left: 0.8em;
  }
  
  .ui-dropdown-trigger .fa {
    margin-top: 0.6em;
    margin-left: -.185em;
  }
}

::ng-deep .ui-multiselect {
  display: inline-block;
  height: 37px;
  width: 100%;

  .ui-multiselect-label {
    padding: 0.33em;
    padding-left: 0.8em;
  }
  
  .ui-dropdown-trigger .fa {
    margin-top: 0.6em;
    margin-left: -.185em;
  }

  .ui-state-highlight {
    border-color: #156090;
    background: #007bff;
    color: #FFFFFF;
  }

  .ui-chkbox-box.ui-state-active {    
    border: none;
    background: #007bff;
    color: #FFFFFF;
  }

  .ui-multiselect-item {
    label {
      margin: 0.2rem 0;
    }
  }
}

::ng-deep .ui-dropdown-panel {
  .ui-dropdown-items {
    .ui-dropdown-item {
      margin: 3px 0;
      padding: .2em .5em;
    }
  
    .ui-state-highlight {
      border-color: #156090;
      background: #007bff;
      color: #FFFFFF;
    }
  }  
}
