<camp-loading [busy]="busy"></camp-loading>

<div class="container" *ngIf="!busy">
  <div class="attendeeForm">
    <form (ngSubmit)="onSubmit()" #attendeeForm="ngForm" autocomplete="off">

      <div class="form-row">
        <div class="form-group col-md-6" [class.form-error]="firstName.invalid && (firstName.dirty || submitFailed)">
          <label for="inputFirstName">First Name</label>
          <label [class.error-message]="firstName.hasError('required')" class="required">required</label>
          <input type="text" class="form-control form-control-lg" id="inputFirstName" [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel"
            autocomplete="off" required>
        </div>
        <div class="form-group col-md-6" [class.form-error]="lastName.invalid && (lastName.dirty || submitFailed)">
          <label for="inputLastName">Last Name</label>
          <label [class.error-message]="lastName.hasError('required')" class="required">required</label>
          <input type="text" class="form-control form-control-lg" id="inputLastName" [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel"
            autocomplete="off" required>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-auto" [class.form-error]="isAdult.invalid && (isAdult.dirty || submitFailed)">
          <div class="form-solo-label">
            <label for="isAdult">Attendee Type</label>
            <label [class.error-message]="isAdult.hasError('required')" class="required">required</label>
          </div>
          <p-selectButton id="isAdult" name="isAdult" [options]="attendeeTypes" [(ngModel)]="model.isAdult" #isAdult="ngModel" required></p-selectButton>
        </div>

        <div class="form-group col-md-6 ml-md-5" [class.form-error]="dateOfBirth.invalid && (dateOfBirth.dirty || submitFailed)" *ngIf="model.isAdult===false">
          <div class="form-solo-label">
            <label for="dateOfBirth">Birthdate</label>
            <label *ngIf="model.isAdult===false" [class.error-message]="dateOfBirth.hasError('required')" class="required">required</label>
          </div>
          <p-dropdown name="inputDateOfBirthMonth" [options]="monthChoices" placeholder="Month" [(ngModel)]="dob.month" (onChange)="dateOfBirthChanged()"></p-dropdown>
          <input type="text" style="width:55px;height:36px" name="inputDateOfBirthDay" id="inputDateOfBirthDay" class="form-control birthdate-field" [(ngModel)]="dob.day" maxlength="2" placeholder="Day" (blur)="dateOfBirthChanged()">
          <input type="text" style="width:65px;height:36px" name="inputDateOfBirthYear" id="inputDateOfBirthYear" class="form-control birthdate-field" [(ngModel)]="dob.year" maxlength="4" placeholder="Year" (blur)="dateOfBirthChanged()">
          <input type="hidden" name="dateOfBirth" id="inputDateOfBirth" [(ngModel)]="model.dateOfBirth" [required]="model.isAdult===false" #dateOfBirth="ngModel">
          <div class="input-error-message">
            <small *ngIf="dobError.day">The day doesn't look right. Be sure to use a 2-digit number that is a day of the month.</small>
            <small *ngIf="dobError.year">The year doesn't look right. Be sure to use a 4-digit number that is a valid year.</small>
          </div>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-auto" [class.form-error]="shirtSize.invalid && (shirtSize.dirty || submitFailed)">
          <div class="form-solo-label">
            <label for="shirtSize">Shirt Size</label>
            <label [class.error-message]="shirtSize.hasError('required')" class="required">required</label>
          </div>
          <p-dropdown name="shirtSize" [options]="shirtSizeChoices" [(ngModel)]="model.shirtSize" #shirtSize="ngModel" [style]="{'width':'200px'}" placeholder="Select a size" required></p-dropdown>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-auto" [class.form-error]="triathlon.invalid && (triathlon.dirty || submitFailed)">
          <div class="form-solo-label">
            <label for="triathlon">Triathlon</label>
            <label [class.error-message]="triathlon.hasError('required')" class="required">required</label>
          </div>
          <p-selectButton id="triathlon" name="triathlon" [options]="triathlonChoices" [(ngModel)]="model.triathlon" #triathlon="ngModel" required></p-selectButton>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-auto" [class.form-error]="attendance.invalid && (attendance.dirty || submitFailed)">
          <div class="form-solo-label">
            <label for="attendance">Attendance</label>
            <label [class.error-message]="attendance.hasError('required')" class="required">required</label>
          </div>
          <p-selectButton name="attendance" [options]="days" [(ngModel)]="selectedDays" #attendance="ngModel" multiple="multiple" required></p-selectButton>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12 small-bottom-margin">
          <div class="form-solo-label">
            <label for="accommodations">Accommodations</label>
          </div>
          <div class="multiselect-pills" *ngIf="model.accommodations && model.accommodations.length>0">
            <button *ngFor="let item of model.accommodations" type="button" class="btn btn-outline-success btn-sm multiselect-pill"
              (click)="removeAccommodation(item)">
              <i class="fa fa-times"></i> {{item.name}}</button>
          </div>
        </div>
        <div class="form-group col-md-6 small-bottom-margin">
          <p-multiSelect name="accommodations" [options]="accommodationChoices" [(ngModel)]="model.accommodations" #accommodations="ngModel"
            dataKey="id" optionLabel="name" [maxSelectedLabels]="0" defaultLabel="Select Accommodations"></p-multiSelect>
        </div>
      </div>

      <div class="form-row" *ngIf="model.isAdult===false">
        <div class="form-group col-md-12 small-bottom-margin">
          <div class="form-solo-label">
            <label for="meritBadges">Merit Badges</label>
          </div>
          <div class="multiselect-pills" *ngIf="model.meritBadges && model.meritBadges.length>0">
            <button *ngFor="let item of model.meritBadges" type="button" class="btn btn-outline-success btn-sm multiselect-pill"
              (click)="removeMeritBadge(item)">
              <i class="fa fa-times"></i> {{item.name}}</button>
          </div>
        </div>
        <div class="form-group col-md-6 small-bottom-margin">
          <p-multiSelect name="meritBadges" [options]="meritBadgeChoices" [(ngModel)]="model.meritBadges" #meritBadges="ngModel"
            dataKey="id" optionLabel="name" [maxSelectedLabels]="0" defaultLabel="Select Merit Badges"></p-multiSelect>
        </div>
      </div>

      <div class="my-3">
        <button type="submit" class="btn btn-success" [hidden]="submiting"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button type="button" class="btn btn-success" [hidden]="!submiting"><img class="saving-icon" src="assets\ripple.svg"> Saving...</button>
        <button type="button" class="btn btn-primary" [disabled]="attendeeForm.pristine" (click)="reset()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
      </div>

      <div *ngIf="model.insertedBy" class="audit-info">
        added by <span>{{model.insertedBy}}</span>
        on <span>{{model.insertedOn | date:'fullDate' }}</span> at <span>{{model.insertedOn | date:'shortTime' }}</span>
      </div>
      <div *ngIf="model.updatedBy" class="audit-info">
        updated by <span>{{model.updatedBy}}</span>
        on <span>{{model.updatedOn | date:'fullDate' }}</span> at <span>{{model.updatedOn | date:'shortTime' }}</span>
      </div>
    </form>
  </div>  
</div>
